<h1 class="title is-1">Forgot your password?</h1>

<%= form_for :user, Routes.user_reset_password_path(@conn, :create), fn f -> %>
  <div class="field">
    <%= label f, :email, class: "label" %>
    <div class="control">
      <%= text_input f, :email, required: true, class: "input" %>
    </div>
  </div>

  <div>
    <%= submit "Send instructions to reset password", class: "button is-primary" %>
  </div>
<% end %>

<p>
  <%= link "Login", to: Routes.user_session_path(@conn, :new) %>
</p>
