<main role="main" class="container">
  <%= if not is_nil(get_flash(@conn, :info)) do %>
    <p class="notification is-info" role="alert">
      <%= get_flash(@conn, :info) %>
    </p>
  <% end %>

  <%= if not is_nil(get_flash(@conn, :error)) do %>
    <p class="notification is-danger" role="alert">
      <%= get_flash(@conn, :error) %>
    </p>
  <% end %>

  <%= @inner_content %>
</main>
