<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>planner</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <nav class="navbar is-dark mb-5" role="navigation">
      <div class="navbar-brand">
        <%= link "planner", to: Routes.landing_path(@conn, :index), class: "navbar-item has-text-weight-bold hast-text-info-light" %>

        <a role="button" class="navbar-burger burger" data-target="nvbr">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div id="nvbr" class="navbar-menu">
        <div class="navbar-start">
          <%= link "tasks", to: Routes.tasks_path(@conn, :index), class: "navbar-item" %>
          <%= link "plans", to: Routes.live_path(@conn, PlannerWeb.PlansLive.Index), class: "navbar-item" %>
        </div>

        <div class="navbar-end">
          <%= link "log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "navbar-item" %>
        </div>
      </div>
    </nav>
   <%= @inner_content %>
  </body>
</html>
